{% extends "base.html" %}
{% block content %}
<div style="text-align: center; padding-top: 80px; margin-bottom: 160px;">
    <div style="font-size: 20px; color:#ffffff; margin-bottom: 80px;">登录成功！！！</div>
    <div>
        <button style="display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;
    line-height: 1.42857143;  text-align: center;white-space: nowrap;vertical-align: middle;background-color: #5bc0de;
    border-color: #46b8da;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;
    -moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;
    border-radius:15px;color: #fff;height:30px; width:120px;" onclick="window.location.href='/logout'">登出</button>
    </div>
</div>
{% end %}